html { font-size: 36px;
               color: #ffffff;
               background-color: #000000; } /* 225% */
               
@media(max-width: 600px) { html { font-size: 12px; background: lightblue; } }  

            
a { color: #ffccff }

ul { text-align: left }

ul li { display: inline; 
		font-size: 62.5%;
		margin:  50px;
		padding: 0px;/*When commented out it makes the elements pushed to the right*/ }

#share {  font-size: 0.618rem;}
/*If [device width] is less than or equal to 500px, then do {…}”*/




/* background-color: #fff2e6F2 */

